{% trans_default_domain 'AppBundle' %}
{% for categorie in categorii %}
    <div class="col-md-3">
        <span class="dropdown-mega-sub-title">{{ categorie.name|trans }}</span>
        <ul class="dropdown-mega-sub-nav">
            {% for subcategorie in categorie.subcategory %}
                <li><a href="{{ '/' ~ app.request.getLocale() ~ '/' ~ categorie.link ~ '/' ~ subcategorie.link  }}" data-thumb-preview="{% for picture in subcategorie.picture %}{% if loop.first %}{{ asset('media/cache/frontEnd_menu/assets/images/uploads/products/'~picture.path) }}{% endif %}{% endfor %}">{{ subcategorie.name|trans }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}